/* style modified from unicorn */
/* Primary Color */
h1, a,
table.table-list tbody tr td a,
.hover .r_details h3 a.r_title,
div.footermenu ul li a,
div.search-form input.text  { color: #d25e4f; }
div.search-form input.text:focus { border-color: #D25E4F; }
div.submit-incident a, .btn_submit,
div.filters ul li a:hover, div.filters ul li a.active,
ul.category-filters li a:hover, ul.category-filters li a.active { background-color:#D25E4F; }

/* Lighter Primary Color - for hover effects */
div#loggedin_user_action a, div#loggedin_user_action a:visited { color:#d25e4f; }
div.submit-incident a:hover, .btn_submit:hover,
div.search-form input.searchbtn,
div#mainmenu ul li a:hover,
div#mainmenu a.active { background-color:#d25e4f; }



/* general styles */
h1, h2, h3, h4, h5, h6{
font-family: "adelle", Helvetica, sans-serif;
font-weight: bold;
margin-top: 0;
padding: 0;
}

/* structural divs */
body#page { background: #fff;
}

div#middle {  }

.big-block h1 {
padding: 0 0 0 0px;
}

#content .big-block-reports {
border:1px solid #fff; border-top:0; margin:0 10px; background:#EEEDEA; padding: 20px 0 10px 20px; }

}

.page-main #main { padding:3px 0 0 0; }

/* top-bar */
#top-bar {
width: 960px;
background: #fff;
height: 0px;
position: relative;
margin:0 auto;
}

div#searchbox {
position: absolute;
right: 0;
border: none;
background: transparent;
width: auto;
padding: 20px 0px 0 0;
}

/* submit incident */
div.submit-incident{
margin: 0px 0 0 0;
float: right;
width: 300px;
padding: 50px 10px 10px 10px; top:10%;
}

div#get-updates {
}

div#socialmedia {
padding: 0px 0px 10px;
margin: -25px 0 0;
float: right;
}

div#loggedin_user_action {
float: left;
width: auto;
}
div#loggedin_user_action a, div#loggedin_user_action a:visited {
font-weight: bold;
padding: 6px;
margin-top: 2px;
width: auto;
display: block;
float: left;
color:#5396ff;
}
div.search-form input.text {
border: 1px solid;
}
div.search-form input.text:focus {
border: 1px solid;
}
div.search-form input.searchbtn {
width: auto;
height: auto;
border: 0;
text-indent: 0;
color: #FFFFFF;
display: block;
font-size: 12px;
background-image:none;
background-color:#529bf5;
margin-left: 10px;
line-height: 17px;
padding: 2px 5px 3px;
text-transform: uppercase;
text-shadow: 0px 0px 0 #424242;
}

/* header */
div#header { height:auto; margin: 20px 0 25px; 
}

/* logo box */
div#logo {
background-color: transparent;
float:none;
padding: 0;
margin: 0;
}
div#logo h1 a {
color: #222222;
font-size: 48px;
}
div#logo span {
font-style: italic;
color: #999;
font-family: 'Georgia', serif;
}

/* submit report button */
div.submit-incident a, .btn_submit {
text-shadow: 0px 0px 0 #424242;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

/* primary nav */
div#mainmenu { background:none; 
border-top: 0px solid #DEDEDE; 
border-bottom: 0px solid #DEDEDE;
height:44px; 
padding: 0 0 0 0px;
width: 100%;
}

div#mainmenu ul {
width: 70em;
margin: auto;
}

div#mainmenu ul li {
margin:0 4px 0 4px;
}
div#mainmenu ul li a { padding:7px 7px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
div#mainmenu ul li a:hover, div#mainmenu a.active {

}

div#mainmenu a{
display: block;
position: relative;
padding: 7px 7px;
color: #333;
overflow: hidden;
text-transform: uppercase;
font-weight: normal;
font-size: 150%;
font-family: "pragmatica-web-condensed",sans-serif;
font-style: normal;
font-weight: 400;
}

div.home-box {
margin:10px 0px;
padding:10px 25px 18px;
border:2px solid #D25E4F;
clear:both;
overflow:hidden;
background: none repeat scroll 0 0 #FFF;
}

div.home-box h6 {
padding: 10px 0 0;
font-size: 16px;
margin-bottom: 10px;

}

div.home-box h3, div.red-box h3{
margin:0;
padding:0 0 0 25px; 
font-size:16px;
color:#111;
}

/* filter box */
#report-map-filter-box { position:absolute; z-index:1000; }




div#right { position:absolute; z-index:1000; }

.map-menu-box {
position:absolute;
overflow:auto;
background:#f9f7f8;
-moz-border-radius: 3px; -webkit-border-radius: 3px; 
-moz-box-shadow:0px 1px 1.5px #424041; -webkit-box-shadow:0px 1px 1.5px #424041; box-shadow:0px 1px 1.5px #424041;
filter: progid:DXImageTransform.Microsoft.Shadow(strength=1.5, direction=180, color='#424041');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=1.5, Direction=180, Color='#424041')";
}
#the-filters { 
top:49px; left:59px;
width:300px;

display:none; }

#the-filters h3 { font-size:10px; color:#605f5d; text-transform:uppercase; margin-bottom:5px;; }

/* type and category toggle button */
#filter-menu-toggle { position:absolute; top:20px; left:58px; width:120px; }

/* home page category filter */
#report-category-filter { padding:5px; float:left; width:175px; }
ul.category-filters { background:none; border:0; padding:0; }
ul.category-filters li { display:block; list-style-type:none; overflow:auto; }
ul.category-filters li li { clear:left; }
ul.category-filters li a { font-size:10px; padding:2px 4px 2px 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; float:left; clear:right; border:0; margin:1px; }
.swatch, .item-swatch { border-color:#f1f1f1; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
ul.category-filters li a:hover, 
ul.category-filters li a.active { background:none; border:1px solid #c2c2c2; color:inherit; margin:0; }

/* home page report type filters */
#report-type-filter { overflow:auto; padding:5px; margin:0; } 
div.filters ul li { float:none; margin-bottom:2px; display:block; overflow:auto; }
div.filters ul li a { color:#000; font-weight:bold; padding:3px 5px 2px; margin:1px; font-size:10px; display:block; float:left; }
div.filters ul li a span { font-size:10px; }
div.filters ul li a:hover, div.filters ul li a.active { -moz-border-radius: 3px; -webkit-border-radius: 3px; display:block; float:left; padding:3px 5px 2px; background:none; border:1px solid #c2c2c2; color:inherit; margin:0; }

/* KML layers & Other Deployments */
/*toggle buttons */
#layers-menu-toggle { position:absolute; top:20px; left:220px; width:60px; }
#other-deployments-menu-toggle { position:absolute; top:20px; left:322px; width:130px; }
#how-to-report-menu-toggle { position:absolute; top:20px; left:780px; width:100px; }

#kml_switch,
#sharing_switch,
#how-to-report-box { display:none; position:absolute; top:49px; padding:5px; left:220px; background:#f9f7f8; width:175px;}
#sharing_switch { left:322px; }
#how-to-report-box { left:724px; padding-top:10px; }
#how-to-report-box ol { margin-left:22px; }
#how-to-report-box ol li { margin-bottom:5px; }


/* home page map */
div.map { width:auto; border:1px solid #fff; border-top:0; position:relative; height: 530px;}
#mapStatus { width:auto; float:none; overflow:auto; border:1px solid #fff; }

/* home page timeline */
div.slider-holder,
div.graph-holder { display:none; }


/* home page how to report */
div.additional-content { display:none; }

/* Home Page Twitter / Mainstream News blocks */
div.content-container { background:transparent; padding:10px; }

div.content-block { position:relative; margin:0 18px; background:#eeedea; }
div.content-block h5 { float:left; position:absolute; top:-18px; left:-18px; padding:5px; border:7px solid #fff; background:#529bf5; }
div.content-block h5 span { display:none; }
div.content-block .table-list { margin-top:18px; }
table.table-list thead th.date { width:20%; }



/* reports listing page */
.page-page-index .big-block { border:1px solid #fff; border-top:0; margin:0 10px; background:#EEEDEA; padding: 50px 70px 35px; width:798px; }
#reports-box { }
#rb_list-view .rb_report {
background: #fff;
}

/* single report page */
div#main { padding:15px 10px; }
#main .left-col { background:#EEEDEA; position:relative; padding:55px 10px 10px; margin:4px 0 0 18px; width:525px; }




.left-col h1.report-title { float:left; position:absolute; top:-18px; left:-18px; padding:5px; border:7px solid #fff; background:#529bf5; color:#fff; }

div.report-additional-reports { background:#EEEDEA; position:relative; padding:35px 10px 10px; margin-left:18px; }
div.report-additional-reports h4 { position:absolute; float:left; top:-18px; left:-18px; padding:5px; border:7px solid #fff; background:#529bf5; color:#fff; }
div.report-additional-reports h5 { font-family: Arial, sans-serif;  }

/* reports page */
.report_right { width:400px;}

/* get alerts page */
.step-1 h2 {
padding: 0;
}
/* footer */
div#footer {
background: #000;
}
div#underfooter { background:transparent; }


div.footermenu ul li a {
text-transform: uppercase;
font-weight: bold;
border-left: 1px solid #666;
}
.additional-credits {
margin-top: 18px;
}

/* button styles */
a.btn {
cursor: pointer;
display: inline-block;
background-color: #e6e6e6;
background-repeat: no-repeat;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
padding: 5px 14px 6px;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
color: #333;
font-size: 13px;
line-height: normal;
border: 1px solid #ccc;
border-bottom-color: #bbb;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-webkit-transition: 0.1s linear all;
-moz-transition: 0.1s linear all;
transition: 0.1s linear all;
}

a.btn:hover {
background-position: 0 -15px;
color: #333;
text-decoration: none;
}

span.btn-icon { display:block; position:absolute; height:16px; width:16px; overflow:hidden; text-indent:-234324px; top:6px; right:5px; }
.ic-right     { background:transparent url(../images/bg_category-filter-controls.png) -32px -41px no-repeat; }
.ic-down      { background:transparent url(../images/bg_category-filter-controls.png) -32px -55px no-repeat; }
.ic-question  { background:transparent url(../images/bg_category-filter-controls.png) 0px -49px no-repeat; }

/* active state */
.active-toggle .ic-right { background:transparent url(../images/bg_category-filter-controls.png) -32px -55px no-repeat; }


body{
  font-family: open-sans, Helvetica, sans-serif;
  color: #333333;
  font-size: 14px;
}

/* styles modifed from default */
/* header elements */
h1, h2, h3, h4, h5, h6 {
    font-family: "adelle", Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    padding: 0;
}

.page_text{
    font-family: "open-sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    padding: 0px 0px 0 0px;
}

h1{
    font-size: 140%;
    color: #444;
}

/* page setup */
body{
    font-family: "open-sans", sans-serif;
	font-style: normal;
	font-weight: 400;
    font-size: 14px;
}

div#logo h1{
    font-size: 40px;

}

div#content{
	padding:25px 0 20px;
}

div.search-form input.text{
	color: #d25E4F;
}

div.search-form input.text:focus { 
	border-color: #d25E4F; 
}

div.submit-incident a, div.submit-incident a:hover{
    padding: 6px 8px 8px 32px;
    text-transform: none;
    font-weight: normal;
}

div.field-instructions{
	margin:25px 0px 15px;
	padding:10px 25px 18px;
	font-size: 14px;
	border:1px solid #D25E4F;
	clear:both;
	overflow:visible;
	background: none repeat scroll 0 0 #FFF;
}

div.field-instructions h6{
	font-size: 14px;
	padding: 10px 0 0;
	margin-bottom: 0px;
}

div.field-instructions h5 {
	margin-bottom: 0px;
	margin-top: 20px;
	colour: #D25E4F;
}

div#contact-inset .field-instructions a {
		font-size: 18px;
		color: #D25E4F;
}

div#contact-inset {
	position: relative;
	float: right;
	margin: 0px 120px 0 0;
}

div#contact-inset .field-instructions {
	width: 200px;
	border:  1px solid #D25E4F;
}


div#contact-inset .field-instructions h5 {
	margin-bottom: 10px;
	margin-top: 12px;
}

div#contact-inset .field-instructions h6 {
	padding: 10px 0 4px 0;
}

.submit-opening {
	width: 730px;
	font-family: "open-sans",sans-serif;
	font-size: 16px;
}

#contact-wrapper {
	position: relative;
	clear: both; 
}

ul.category-filters li a:hover, ul.category-filters li a.active {
    background-color: #d25E4F;
}

/* footer credits */
div.footer-credits{
    font-size: 80%;
}

div.reworkit-credits {
	padding: 15px 0 0 0;
}

div.credibility {
    padding:10px 0 0 28px;
}

table.table-list thead th.title{
    width: 50%;
}

table.table-list thead th.location{
    width: 30%;
}

table.table-list tbody tr td{
    font-size: 12px;
}

.text, .textarea, .select, .file {
    font-size:100%;
}

.text {
	margin: 0px;
    border:1px #ddd solid;
}
.textarea {
	margin: 8px 0 0;
    border:1px solid;
	color #aaa;
}
.select{
	padding: 1px;
}


.report_left{ float:left; width:470px; margin:20px 0 0; padding:0 0 10px; }

.report_right{ overflow:hidden; width:470px; margin:40px 0 0 25px; padding:0 0 10px; }

.report_row { margin:5px 0 5px 0; clear:both; }
.report_row h4 { margin:0 0 5px 0; padding:8px 0 0; font-size:120%; font-weight:bold; }

.report_comment, .contact{
    border:0px #ccc solid;
    padding:0 0 0 0px;
	margin: 30px 0px 0px 0px;
	width:400px;
	position: relative;
	float: left;
}

table.rating-table {
	width: 500px;
}

table.rating-table td { padding-right:5px;}

a.rem { background:url(../images/icon-minus.gif) no-repeat;}

.report-find-location {
	margin-bottom: 0px;
}

    
/*---alerts-block---*/

.update-opening {
	width: 710px;
	line-height: 24px;
	font-size: 16px;
	font-family: "open-sans", sans-serif;
}

.step-1 {
    margin:30px 0 0;
}

.step-1 .map {
	height: 330px;
}

.step-2-holder {
	margin: 10px 10px 0;
    width:390px;
}
.step-2, .step-3 {
    margin:20px 0 0;
}

ul.filter-list li a span.item-swatch { display:block; height:16px; width:16px; margin-right: 8px; border:1px solid white; float:left; }

div#socialmedia {
	padding-right:10px;
}

div.search-form {
    float: left;
    margin: 10px 10px 0 5px;
    padding: 0;
}

#incident_description_ifr {
	height: 215px !important;
}

.long {
	width: 90%;
}

.big-block {
	padding: 16px 10px 10px;
	width: 940px;
}

.report_map {
  width: 465px;
}